name: Build andDeploy

on:
  push:
    branches: [main, master, develop]

jobs:
  test:
    uses: ./.github/workflows/tests.yml

  build-and-deploy:
    runs-on: ubuntu-latest
    needs: [test]
    container:
      image: python:3.9-slim

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
          cache: 'pip'

      - name: Setup Tailscale
        uses: tailscale/github-action@v2
        with:
            oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
            oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
            tags: tag:ci

      - name: Deploy
        run: ssh ${{ secrets.NUC_SSH_USER }}@${{ secrets.NUC_SSH_HOST }} "cd /opt/jobtaker && git pull && docker-compose pull && docker-compose up -d"

